nav{
    width:100%;
}

.bg-light {
    width:100% !important;
    
}
.material{
    height: 155px;
    border-radius: 50%;
    width: 180px;
    margin: 0 auto;
}
.product-name{
    border-radius:30px;
    opacity: 0.7;
    margin:0px;
}
.cart-btn{
    margin:0;
}